{
  "discord_token": "YOUR_DISCORD_BOT_TOKEN",
  "servers": [
    {
      "logfile_path": "path/to/your/logfile1.log",
      "fifo_path": "path/to/your/fifo1",
      "channel_id": "CHANNEL_ID_1",
      "broadcast": "1",
      "mode": "0/1/2/3" // 0 - none, 1 - logs only, 2 - fifo only, 3 - both
    },
    {
      "logfile_path": "path/to/your/logfile2.log",
      "fifo_path": "path/to/your/fifo2",
      "channel_id": "CHANNEL_ID_2",
      "broadcast": "1",
      "mode": "0/1/2/3" // 0 - none, 1 - logs only, 2 - fifo only, 3 - both
    }
  ],
  "broadcast_channel": "CHANNEL_ID_3",
}
